.project-list
	%h3#projects-header.header
		Projects
	=render @user_projects
	-if @user_projects.empty? and @user == current_user
		%span#empty-message
			There are no projects! Click below to create a project
		%button.new-project{"data-reveal-id" => "new-project-modal"}
			New Project
	-elsif @user_projects.empty? and @user != current_user
		%span#empty-message
			#{@user.name} has no projects right now. Check back later!
	-else
		%button.new-project{"data-reveal-id" => "new-project-modal"}
			New Project

=render "shared/new_project_modal"