/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
*/

@import "foundation";
.wrapper{
  @include grid-row();
  background-color: #2675B9;
  max-width: none;
  a{
    color: white;
    &:hover{
      color: white;
    }
  }
  .navbar{
    @include grid-column(12);
    max-width: 1280px;
    width: 100%;
    .brand {
      @include grid-column(3);
      font-size: 1.5em;
      padding: 20px;
      width: 25%;
    }
    .nav{
      @include grid-column(9);
      float: right;
      padding: 20px;
      width: 75%;
      ul{
        float: right;
        list-style: none;
        margin: 0;
        li{
          display: inline;
          float: left;
          margin-left: 30px;
          a{
            color: white;
            font-size: 1.2em;
            line-height: 25px;
          }
        }
      }
    }
  }
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
#main{
  @include grid-row();
}

.header{
  text-align: center;
}