// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation";
.project-list{
	@include grid-column(12);
	#projects-header{
		margin-bottom: 65px;
		text-align: center;
	}
	#empty-message{
		display: block;
		text-align: center;
	}
	button.new-project{
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}
	.project{
		@include grid-row();
		list-style-type: none;
	}
}
#project-chart{
	width: 560px;
	height: 300px;
}